@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.News>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}


<p>Umbraco Login: benj0688@edu.eal.dk Pass: 2246lb2246</p>

